services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env.development
    restart: always
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
